html,
body {
    -webkit-app-region: drag;
    background-color: rgba(0, 0, 0, 0);
    color: #FAFAFA;
}

*:focus {
    outline: none;
}

button {
    -webkit-app-region: no-drag;
}

.w-90 {
    width: 90% !important;
}

.white-text {
    color: #FAFAFA !important;
}

.portlabel {
    -webkit-app-region: no-drag;
    background-color: rgba(250, 250, 250, 0.164);
    padding: 0.2em;
    padding-left: 0.75em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.portlabel span {
    color: #FAFAFA;
}

.portinput {
    -webkit-app-region: no-drag;
    color: #FAFAFA;
    padding: 0.2em;
    background-color: rgba(250, 250, 250, 0.164);
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border: none;
}